@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("../assets/images/day.png");
    font-family: 'Inknut Antiqua', serif;
}

h1 {
    font-size: 2.5rem;
}

.rules-theme {
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
}

.question {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 30px;
    height: 30px;
}

.toggle {
    position: absolute;
    right: 15px;
    width: 60px;
    height: 60px;
    color: black;
}

.score-volume {
    height: 60px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.timer-moves {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
}

.timer,
.moves,
.volume {
    width: 20%;
    background-color: pink;
    border-radius: 4px;
}

.game-container {
    background-image: linear-gradient(#C28B51,#EDC88C);
    border-radius: 8px;
    width: 1000px;
    height: 650px;
    display: flex;
    box-shadow: 1px 0px 0px #382A25,0px 1px 0px #382A25,
    2px 1px 0px #382A25,1px 2px 0px #382A25,
    3px 2px 0px #382A25,2px 3px 0px #382A25,
    4px 3px 0px #382A25,3px 4px 0px #382A25,
    5px 4px 0px #382A25,4px 5px 0px #382A25,
    6px 5px 0px #382A25,5px 6px 0px #382A25,
    7px 6px 0px #382A25,6px 7px 0px #382A25,
    8px 7px 0px #382A25,7px 8px 0px #382A25,
    9px 8px 0px #382A25,8px 9px 0px #382A25;
    margin: auto;
}


