@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: lightblue;
    font-family: 'Inknut Antiqua', serif;
}

h1 {
    font-size: 3rem;
}

.rules-theme {
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid green;
}

.question {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 30px;
    height: 30px;
}

.toggle {
    position: absolute;
    right: 15px;
    width: 60px;
    height: 60px;
    color: black;
}

.rules,
.theme-toggle {
    background-colour: lightgreen;
    height: 50px;
    width: 150px;
    margin: 10px;
    border-radius: 8px;
}



