@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: lightblue;
    font-family: 'Inknut Antiqua', serif;
}

h1 {
    font-size: 3rem;
}

.rules-theme {
    position: relative;
    margin: auto;
    width: 100%;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid green;
}

.question {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 30px;
    height: 30px;
}

.toggle {
    position: absolute;
    right: 15px;
    width: 60px;
    height: 60px;
    color: black;
}

.score-volume {
    height: 80px;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid red;
}

.timer,
.moves,
.volume {
    width: 20%;
    background-color: pink;
    border-radius: 4px;
}

.game-container {
    background: brown;
    border-radius: 4px;
    width: 1050px;
    height: 550px;
    display: flex;
    box-shadow: 2px 3px 5px gray;
    margin: auto;
}


